.logotipo{
    height: 300px;
}
*{
    list-style: none;
    text-decoration: none;
}

#imagem{
    height: 300px;
}
header{
    background-color: rgb(31, 106, 150);
}
body{
    background-color: rgb(72, 183, 235);
}
footer{
    background-color: rgb(71, 162, 247);
}
#corinthians{
    height: 300px;
}